html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: $font-main;
    background-color: $color-white;
    color: $color-black;
}

main {
    padding-top: 90px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}